<form class="form-inline" style="margin-bottom: 50px" role="form">
    <input type="hidden" id="idTransacao">
    <div class="row linha_form">
        <div class="form-group col-xs-6 col-sm-6 col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input type="text" placeholder="Data" class="form-control obrigatorio" id="dataTransacao">
            </div>
        </div>
        <div class="form-group col-xs-6 col-sm-6 col-lg-2">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                <input type="number" placeholder="Valor" class="form-control text-right obrigatorio campo_valor" id="valorTransacao">
            </div>
        </div>
    </div>
    <div class="row linha_form">
        <div class="form-group col-sm-6 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control obrigatorio" id="beneficiario" placeholder="Beneficiário">
            </div>
            <ul class="list-group" id="listaBeneficiarios">
            </ul>
        </div>
        <div class="form-group col-sm-6 col-xs-12 dadosCategoria">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                <input type="text" class="form-control obrigatorio" id="categoria" placeholder="Categoria">
            </div>
            <ul class="nav" id="listaCategorias"></ul>
            <span id="msgDisponivelCategoria" style="display: none">Disponível: <span id="diponivelNaCategoria">234.12</span></span>
        </div>
    </div>
    <div class="row linha_form linhaContasDestino">
        <div class="form-group col-sm-12 col-xs-12">
            <div id="contasDestino">
            </div>
        </div>
    </div>
    <div class="row linha_form">
        <div class="form-group col-sm-12 col-xs-12">
            <div id="contas">
            </div>
        </div>
    </div>
    <div class="row linha_form opcoes_despesa">
        <div class="form-group col-sm-12 col-xs-12">
            <button type="button" class="btn btn-default btn-sm col-xs-12" id='btnShowAvancadas'>Opções avançadas</button>
            <div class="panel panel-default" style='display:none' id='panelAvancadas'>
                <div class="panel-heading">Opções avançadas</div>
                <div class="panel-body">
                    <div class="input-group col-xs-6 fix-lr ">
                        <span class="input-group-addon">Nº</span>
                        <input type="number" class="form-control" placeholder="Parcelas" id="totalPercelas">
                    </div>
                    <div class="btn-group col-xs-6 fix-lr" id="tipo_parcelas">
                        <span type="button" tipo="1" class="btn btn-default btn_tipo_parcela strip_text selecionado" style="width: 50%">Dividir</span>
                        <span type="button" tipo="0" class="btn btn-default btn_tipo_parcela strip_text" style="width: 50%">Multiplicar</span>
                    </div><br/><br/>
                    <div class="btn-group col-xs-12 fix-lr" id="tipo_pagamento">
                        <span type="button" tipo="0" class="btn btn-default btn_tipo_pagamento strip_text selecionado" style="width: 50%">Minha despesa</span>
                        <span type="button" tipo="1" class="btn btn-default btn_tipo_pagamento strip_text" style="width: 50%">Terceiros</span>
                    </div>   
                    <div style='display:none' id='dadosTerceiros'>
                        <div class="input-group col-xs-6 fix-lr">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input type="text" placeholder="Data" class="form-control obrigatorio" id="dataPagamento">
                        </div><br/><br/>
                        <div class='col-xs-12 fix-lr'>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control obrigatorio" id="pagador" placeholder="Pagador">
                            </div>
                            <ul class="list-group" id="listaPagadores"></ul>
                        </div>
                    </div>   
                </div>
            </div>            
        </div>
    </div>
    <div class="row linha_form">
        <div class="form-group col-sm-12 col-xs-12">
            <button id="btnSalvar" type="button" class="btn btn-default pull-right">Registrar transação</button>
            <button id="btnApagar" type="button" class="btn btn-default pull-right">Apagar</button>
        </div>
    </div>
</form>
