<div class="well well-sm ">
    <div class="btn-bar-left" id="btnMesAnterior">
        <span class="glyphicon glyphicon-chevron-left" ></span>
    </div>
    <div class="btn-bar-rigth" id="btnProximoMes">
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="text-center" id="labelMes">Janeiro/2014</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Despesas<span class="glyphicon glyphicon-pencil pull-right btn_editar_recorrente"></span></div>
    <ul class="list-group" id="listaRecorrentesDespesas"></ul>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Receitas<span class="glyphicon glyphicon-pencil pull-right btn_editar_recorrente"></span></div>
    <ul class="list-group" id="listaRecorrentesReceitas"></ul>
</div>
<button type="button" class="btn btn-default" id="btnNovaTransacao">
    <span class="glyphicon glyphicon-plus"></span> Nova transação
</button>
<br/><br/>