<form class="form-inline" style="margin-bottom: 50px" role="form">
    <input type="hidden" id="idRecorrente"/>
    <div class="row linha_form">
        <div class="form-group col-xs-6 col-sm-6 col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input type="text" placeholder="Data" class="form-control obrigatorio" id="dataTransacao">
            </div>
        </div>
        <div class="form-group col-xs-6 col-sm-6 col-lg-2">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                <input type="number" placeholder="Valor" class="form-control text-right obrigatorio campo_valor" id="valorTransacao">
            </div>
        </div>
    </div>
    <div class="row linha_form">
        <div class="form-group col-sm-6 col-xs-6">
            <div class="btn-group" id="tipo_valor" style="width: 100%">
                <span type="button" tipo="1" class="btn btn-default btn_valor strip_text" style="width: 50%">Fixo</span>
                <span type="button" tipo="0" class="btn btn-default btn_valor strip_text" style="width: 50%">Estimado</span>
            </div>   
        </div>
        <div class="form-group col-sm-6 col-xs-6">
            <div class="btn-group" id="tipo_transacao" style="width: 100%">
                <button type="button" tipo="D" class="btn btn-default btn_tipo strip_text" style="width: 50%">Despesa.</button>
                <button type="button" tipo="C" class="btn btn-default btn_tipo strip_text" style="width: 50%">Receita.</button>
            </div>   
        </div>
    </div>
    <div class="row linha_form">
        <div class="form-group col-sm-12 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon">Nº</span>
                <input type="text" class="form-control" placeholder="Numero de parcelas" id="totalPercelas">
            </div>        
        </div>
    </div>
    <div class="row linha_form">
        <div class="form-group col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control obrigatorio" id="beneficiario" placeholder="Selecione o tipo de transação">
            </div>
            <ul class="list-group" id="listaBeneficiarios"></ul>
        </div>
        <div class="form-group col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                <input type="text" class="form-control obrigatorio" id="categoria" placeholder="Categoria">
            </div>
            <ul class="list-group" id="listaCategorias"></ul>
            <span id="msgDisponivelCategoria" style="display: none">Disponível: <span id="diponivelNaCategoria">234.12</span></span>
        </div>
    </div>
    <div class="row linha_form">
        <div class="form-group col-sm-12">
            <div id="contas"></div>
        </div>
    </div>
    <button id="btnSalvar" type="button" class="btn btn-default pull-right">Salvar</button>
    <button id="btnVoltar" type="button" class="btn btn-default pull-right">Voltar</button>
    <button id="btnApagar" type="button" class="btn btn-default pull-right">Apagar</button>
</form>
