<form role="form">
  <div class="form-group">
    <label for="txtEmail">Email</label>
    <input type="email" class="form-control" id="txtEmail" placeholder="Digite aqui o email">
  </div>
  <div class="form-group">
    <label for="txtHost">Host</label>
    <input type="text" class="form-control" id="txtHost" placeholder="Digite aqui o host">
  </div>
  <button type="button" id="btnSalvarConfig" class="btn btn-primary">Salvar</button>
</form>
<hr/>
<input type="button" id="btnSincronizar" class="btn btn-default" value="Sincronizar"/>
<input type="button" id="btnBaixarDados" class="btn btn-default" value="Baixar dados"/><br/>
<label id="msg">...</label>
<hr/>
<input type="button" id="btnTeste" class="btn btn-default" value="Atualizar saldos acumulados"/><br/>
<input type="button" id="btnMigrate" class="btn btn-default" value="Migrate"/><br/>
<input type="button" id="btnAtualizaSeq" class="btn btn-default" value="Atualizar seqs"/><br/>
