.btn_menu {
    margin: 2px;
}

.navbar {
    background-color: #FFF07D;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 1.5em;
}

#conteudoPagina {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.campo_form {
    margin-bottom: 10px;
    color: #ccc
}

#conteudoPagina {
    margin-bottom: 40px;
}

.selecionado {
    background-color: #FFF07D !important;
}

.btnTable {
    font-size: 20px;
}

.credito {
    font-size: 20px;
    color: #0000FF;
}

.debito {
    font-size: 20px;
    color: #00FF00;
}

.campo_valor {
    padding-right: 15px;
}
    
.lista_transacao {
    padding: 5px;
    border-top: 1px solid #ccc;
}

.destaque_debito, .red {
    color: #F00;
}

.green {
    color: #0F0;
}

.destaque_credito, .blue {
    color: #00F;
}
