body {
    background-image: url("../img/bg.jpg");
}
.btn_menu {
    margin: 2px;
}

.navbar {
    background: rgb(96,108,136); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 1.5em;
}

#conteudoPagina {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.campo_form {
    margin-bottom: 10px;
    color: #ccc
}

#conteudoPagina {
    margin-bottom: 40px;
}

.selecionado {
    background-color: #FFF07D !important;
}

.btnTable {
    font-size: 20px;
    margin-right: 10px;
}

.credito {
    font-size: 20px;
    color: #0000FF;
}

.debito {
    font-size: 20px;
    color: #00FF00;
}

.campo_valor {
}

.lista_transacao {
    padding: 5px;
    border-top: 1px solid #ccc;
}

.destaque_debito {
    color: #F00;
}

.red {
    color: #A60000;
}

.green {
    color: #0F0;
}

.destaque_credito, .blue {
    color: #00F;
}

#menuOpcoes {
    margin: 10px;
}

.opcao_menu {
    width: 100%;
}

.btn_navbar {
    font-size: 20px;
}

#listaBeneficiarios, #listaCategorias {
    background-color: #fff;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

@media (min-width: 768px) {
    .linha_form {
        padding-bottom: 15px;
    }
}

.table td {
    border-bottom: 1px solid #aaa;
    background-color: #fff;
}

.table th, .bg-info {
    background: rgb(96,108,136); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
    color: #AAA;
}

.nav {
    background-color: #fff;
    border-bottom: 1px solid #aaa;
}

.dataExtenso {
    font-size: 13px;
    font-style: italic;
}

.btn {
    margin-bottom: 5px;
}

.strip_text{
    font-size: 0.8em;
    text-overflow: ellipsis;
    overflow: hidden;  
}

.editar li{
    border: 1px dashed #000 !important;
}

.btn-bar-rigth {
    float: right;
    padding-left: 20px;
    padding-bottom: 10px;
}

.btn-bar-left {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}

.recorrente_atrasado {
    background-color: #FAC4C0;
}

.fix-lr {
    padding-left: 2px;
    padding-right: 2px;
}

.footer {
    background-color: #ddd;
}

.item-lg {
    height: 60px;
}

button {
    margin-right: 5px;
}

.valor_negativo {
    color: #E81515;
    box-sizing: content-box;
}

.saldo_em_transacao {
    padding-top: 2px;
    font-size: 0.8em;
}

#btn_extras {
    display: inline-block;
}

#btn_fixos {
    display: inline-block;
}

.table-100 {
    width: 100%;
}

.icone_transacao {
    width: 20px;
}

.status_2 {
    font-style: italic;
    color: #8999D9;
    font-weight: 200;
}

.status_2 .dataExtenso, .status_2 .desc_beneficiario{
    text-decoration: line-through;
}

.status_1 {
}

.status_1 .dataExtenso, .status_1 .desc_beneficiario{
    text-decoration: underline;
}

#barraFixa {
    background-color: #FFF;
    padding-left: 15px;
}

.transacao_futura {
    color: #aaa;
    font-style: italic;
}

.linhaCategoria .btnEditar {
    font-size: 20px;
}

.icon-small {
    font-size: 10px;
    margin-left: 4px;
}

.infoSmall {
    font-size: 10px;
}